*{
    margin:0;
    padding:0;
}
body{
    background-color: #d1cdcd;
    position: relative;
}

.s1{

    margin: 10px 10px;
    padding: 0px 200px;
}
.m2{
    color: white;
    font-size: 25px;
    font-weight: 900;
    padding: 0px 20px;
    width:20px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}
.m3{
    color:black;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.m4{
    display: flex;
    float: right;
    position: relative
}
.m4 li{
    list-style: none;
    text-align: center;
}
.m4 li a{
    text-decoration: none;
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 900;
    color:black;
}
.m4 li a:hover{
    color: white;
}
nav li a:active{
    color:blue;
}
.img{
    position: absolute;
    width: 20rem;
    height: 25rem;
    margin: 6rem 57rem;
    transition: bottom 1s , left 2s;
}
.p1{
    text-align: center;
    margin-top: 10rem;
    margin-left: 10rem;
}
.img2{
    height: 20rem;
    width: 20rem;
    margin-top: 8rem;
    margin-left: 6rem;
    border: 5px solid white;
}
.ah{
    margin-top: -28rem;
    margin-left: 40rem;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}
.arh{
    margin-left: 55%;
    margin-top: 27rem;
    text-decoration: none;
    width: 5rem;
    height: 5rem;
    background-color: black;
    padding: 1rem 1rem;
    font-size: 20px;
    color:white;
}
.sm{
    text-align: center;
    margin-top: 3rem;
    font-size:50px;
}
.sm1{
    display: flex;
    padding:20px 50px ;
    text-align: center;
}
.sm2{
    height: 250px;
    width: 250px;
    padding: 20px 50px;
    margin: 0px 40px;
    border: 5px solid black;
}
.sm3{
    height: 250px;
    width: 250px;
    padding: 20px 50px;
    margin: 0px 40px;
    border: 5px solid black;
}
.sm4{
    height: 250px;
    width: 250px;
    padding: 20px 50px;
    margin: 0px 40px;
    border: 5px solid black;
}
.c{
    text-align: center;
    margin-left: 400px;
    margin-top: 70px;
    font-size: 20px;
}
.c1{
    width:600px;
    height:400px;
    border: 2px solid black;
    background-color: black;
    margin-top: -3.5rem;
    margin-right: 50rem;
    margin-left: 10rem;
    padding: 10px;
    border-radius: 5px;
}
.c3{
  width: 100px;
  margin:0px 10px;
  padding: 10px 10px;
  background-color: black;
  font-weight: 900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;

}
.c4{
    width: 120px;
    margin: 0px 12px;
    padding: 10px 10px;
    background-color: black;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.c5{
    margin: 20px 18px;
    padding: 10px 10px;
    height: 50px;
    width:400px;
    background-color: black;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.c6{
    width:400px;
    height: 150px;
    background-color: black;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    margin: 0px 30px;
}
.c7{
    width:400px;
    height: 300px;
    background-color: #d1cdcd;
    margin-left: 33rem;
    margin-top: -27.10rem;
    border: 2px solid white;
    font-size: 20px;
    padding: 0px 0px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.m1{
    margin-top:-2;
    width: 100%;
    height: 100px;
    background-color: #d3c2b3;
    border:2px solid  #d3c2b3;
}